<!--
ng-submit="doLogin()"
-->
<ion-modal-view>
  <ion-header-bar>
 
    <h1 class="title" style="color:#fff; font-weight:bold;">{{'clubsmain_sendmessage' | translate}} </h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="closeMessageModal()">{{'clubsmain_close' | translate}} </button>
    </div>
  </ion-header-bar>
  <ion-content class="BackgroundImage">
  
  <div class="MainDiv" align="center">
    <div class="Inside_MainDiv">
	<div class="logoDiv" style="margin-top:20px;">
                <img src="img/logo.png" style="width:70%" />
            </div>
   
	<div align="center" style="margin-top:10px; direction:rtl;" class="MainDiv">


            <div class="loginForm">
                <div>

	  				<p class="inputLabel">{{'clubsmain_sendmessage' | translate}}</p> 
				  <label class="item item-input InputStyle textArea" >
					<textarea rows="4" cols="50"  placeholder="" class="InputStyle" style=" border:none !important" ng-model="messageclub.details"></textarea>				  
				  </label>	  				  
                </div>

			</div>

	  <div style="margin-top:15px" ng-click="sendMessage()">
                    <img src="{{ClubsImage3}}" style="width:100%; margin-top:10px;" />
      </div>

	 
	
	 

	</div>
	</div>
	
  </div>
   
   
   
   
  </ion-content>
  
</ion-modal-view>
