<ion-view title="<p class='title-image'>{{'menu_divinglicense' | translate}}</p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">


        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ui-sref="app.main()"></button>
        </ion-nav-buttons>   
		
		
	 <ion-content class="BackgroundImage1">
    <div class="MainDiv" align="center">
    	<div>

                <div>
                    <div style="overflow: hidden; width: 100%">
                        <a href="#/app/mainlicense">
                            <div class="HeaderRows_image" style="float: right; width: 40%">
                                <div class="LicenseHeader_text">
                                    <h3 style="color:yellow; font-weight:bold">{{"divinglicense_maindive" | translate}} </h3>
                                </div>
                                <img class="HeaderRows_img Img_Border" src="{{LicenseImage}}" />
                            </div>
                        </a>

                            <div class="HeaderRows_image" ng-click="ShowImageModal(1)" style="float: left; width: 40%">
                                <div class="LicenseHeader_text" >
                                    <h3 style="color:yellow; font-weight:bold">{{"main_insuranceoptions5" | translate}} </h3>
                                </div>
                                <img class="HeaderRows_img Img_Border" style="margin-top: 30px" src="{{uploadedimage12}}" />
                            </div>

                    </div>


                    
                    <img src="img/license/line.png" class="licenseLine" />
                </div>
            </a>
        </div>
        
    	<div class="Inside_MainDiv" ui-sref="app.addlisense({ItemId: 0})" >
            <div class="addLicense">
                <img src="{{DivingImage1}}" style="width:100%" />
            </div>
        </div>

    	<div class="Inside_MainDiv" ui-sref="app.insurance()" >
            <div class="addLicense">
                <img src="{{DivingImage2}}" style="width:100%" />
            </div>
        </div>        

        
        <div  ng-repeat="row in licenses" id="LicenseRepeat" >
        	<a href="#/app/addlisense/{{row.id}}">
                <div>
                    <div class="LicenseRows_text" style="width: 50%">
                        <h3> {{row.title}}</h3>
                        <h4> {{row.desc}} </h4>
                    </div>
                    <div class="LicenseRows_image " style="width: 30%">
                        <img class="LicenseRows_img Img_Border" src="{{ImgHost}}/{{row.image}}" style="width: 100%" />
                    </div>
                    
                    <img src="img/license/line.png" class="licenseLine" />
                </div>
            </a>
        </div>
    </div>



         <script id="image-modal.html" type="text/ng-template">
             <div style="width:100%;" align="center">
                 <div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
                     <ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
                         <img ng-src="{{licenseImageModal}}" style="width:100%;">
                     </ion-scroll>
                 </div>
             </div>
         </script>
  </ion-content>
  
 	<ion-footer-bar align-title="right" style="height:90px;  padding: 0px; margin: 0px; ">
	<div align="center" style="width:100% !important;" >
	
	
	<div style="">
		<img src="{{phpHost}}/{{RandomBannerImage}}" style="width:100%; height:90px;">
	</div>	
	

	</div>
	</ion-footer-bar>   

</ion-view>
