<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" style="color:#fff; font-weight:bold;">{{'login_forgot' | translate}} </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">{{'forgot_close' | translate}}  </button>
    </div>
  </ion-header-bar>
  <ion-content class="BackgroundImage">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
       		<div class="logoDiv">
                <img src="img/logo.png" style="width:50%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
                <div>			  
                  <label class="item item-input InputStyle">			  
                  	<input type="email" placeholder="{{'forgot_email' | translate}}  " class="licenseInput" ng-model="forgot.email">
                  </label>
				 		
                </div>
            </div>

	  <div style="margin-top:15px" ng-click="sendPassword()">
                    <img src="{{ForgotImage}}" style="width:100%; margin-top:10px;" />
      </div>
	 
	
	 

	</div>
	
	</div>
	
   
   
   
   
  </ion-content>
  
</ion-modal-view>
