

<ion-view title="<p class='title-image'>{{'gearscheck_title' | translate}}</p>"  hide-nav-bar="false" hide-back-button="true">


        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>        
   


	<div class="bar bar-footer" style="background:transparent; height:9%;  width:100%; padding:0;" >
		 <div class="CameraLicense" style="width:100%;">
			<img src="{{GearsCheckImage2}}"  class="LicenseImage" ng-click="SaveBtn()"/>
		 </div>
	</div>
	

  <ion-content class="BackgroundImage" >
  
  

   <div class="MainDiv" align="center">
   	<div class="Inside_MainDiv" >
        <div align="center" style="margin-top:10px; direction:rtl;" class="MainDiv">
    
                <h3 align="right" style="color:#fff; font-weight:bold;">{{"gearscheck_balance" | translate}}</h3>
    
                <div class="loginForm">
                    <div>
                      <label class="item item-input InputStyle">			  
                        <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'gearscheck_date' | translate}}" class="licenseInput" ng-model="fields.BalanceDate" >
                      </label>
					  
				  <textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="{{'gearscheck_remarks' | translate}}"  ng-model="fields.BalanceRemarks"> </textarea>

<!--				  
                      <label class="item item-input InputStyle">			  
                        <textarea type="text" placeholder="{{'gearscheck_remarks' | translate}}" ng-model="fields.BalanceRemarks" class="InputStyle" style="border:none !important"></textarea>
                      </label>				  
-->
                    </div>
					
	              <label class="" ng-click="ShowImageModal(1)" ng-show="uploadedimage1" style="margin-top:20px;">
                            <img  ng-src="{{uploadedimage1}}" class="" align="center" style="height:150px; margin-top:20px;">
                  </label>

				  
                  <label class="CameraLicense" ng-click="CameraOption(1)" >
							<img  ng-src="{{GearsCheckImage1}}" class="LicenseImage" align="center">
				  </label>
				  


                    
                <h3 align="right" style="color:#fff; font-weight:bold;">{{"gearscheck_breating" | translate}}</h3>
                    
                    
                      <label class="item item-input InputStyle">			  
                        <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'gearscheck_date' | translate}}" class="licenseInput" ng-model="fields.BreathingDate">
                      </label>
				  <textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="{{'gearscheck_remarks' | translate}}"  ng-model="fields.BreathingRemarks"> </textarea>
					  
<!--					  
                      <label class="item item-input InputStyle">			  
                        <textarea placeholder="הערות" ng-model="fields.BreathingRemarks" class="InputStyle" style="border:none !important"></textarea>
                      </label>	
-->

					  
                  <label class="" ng-click="ShowImageModal(2)" ng-show="uploadedimage2">
                            <img  ng-src="{{uploadedimage2}}" class="" align="center" style="height:150px; margin-top:20px;" >
                  </label>

				  
                  <label class="CameraLicense" ng-click="CameraOption(2)" >
							<img  ng-src="{{GearsCheckImage1}}" class="LicenseImage" align="center">
				  </label>
				  


				  
                <h3 align="right" style="color:#fff; font-weight:bold;">{{"gearscheck_tank" | translate}}</h3>
    
                    <div>
                      <label class="item item-input InputStyle">			  
                        <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'gearscheck_date' | translate}}" class="licenseInput" ng-model="fields.ContainerDate" >
                      </label>
						<textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="{{'gearscheck_remarks' | translate}}"  ng-model="fields.ContainerRemarks"> </textarea>
					  
<!--					  
                      <label class="item item-input InputStyle">			  
                        <textarea type="text" placeholder="הערות" ng-model="fields.ContainerRemarks" class="InputStyle" style="border:none !important"></textarea>
                      </label>				  
-->
                    </div>

				 <div style="margin-top:5px;">
				 </div>


                  <label class="" ng-click="ShowImageModal(3)" ng-show="uploadedimage3">
                            <img  ng-src="{{uploadedimage3}}" class="" align="center" style="height:150px; margin-top:20px;">
                  </label>

				  
                  <label class="CameraLicense" ng-click="CameraOption(3)" >
							<img  ng-src="{{GearsCheckImage1}}" class="LicenseImage" align="center">
				  </label>
				  


				  

            </div>		
		</div>		
      </div>
	  
	  <div style="margin-top:100px;">
	  </div>

			
		<!--
		<div class="list">
			<label class="item item-input">
			  <span class="input-label" style="width:18%;" >תאריך</span>		
			  <input type="date" ng-model="fields.BalanceDate">			  
			</label>
			<label class="item item-input">
			  <span class="input-label" style="width:18%;" >הערות</span>		  
			  <textarea placeholder="" ng-model="fields.BalanceRemarks"></textarea>
			</label>
		  </div>
		

		<div class="list">
			<label class="item item-input">
			  <span class="input-label" style="width:18%;" >תאריך</span>		
			  <input type="date" ng-model="fields.BreathingDate">			  
			</label>
			<label class="item item-input">
			  <span class="input-label" style="width:18%;" >הערות</span>		  
			  <textarea placeholder="" ng-model="fields.BreathingRemarks"></textarea>
			</label>
		  </div>	  
	  -->
	  
	 
	
	 

	
	
	</div>
   
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{gearsmodelimage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>   
   
   
  </ion-content>
  
  


</ion-view>
