<ion-view view-title="" hide-nav-bar="true" hide-back-button="false">



  
  <ion-content class="BackgroundImage">
     <div class="MainDiv" align="center">
	 
	 <!--
	 <p style="position:absolute; top:20px; left:20px; color:#fff; font-size:20px;">
		<span style="color:#fff;" ng-click="changeLanguage('en')">EN</span> | <span ng-click="changeLanguage('he')" style="color:#fff;">עב</span>
	 </p>
	 -->
	
	 <p style="position:absolute; top:20px; left:20px; color:#fff; font-size:20px;">
		<img src="img/en.png" style="width:39px; margin-top:3px;" ng-click="changeLanguage('en')">
		<img src="img/heb.png" style="width:40px; margin-top:2.5px;" ng-click="changeLanguage('he')">
	 </p>

 
	 
    	<div class="Inside_MainDiv">
            <!-- Header -->
            <div>
                <img src="img/logo.png" style="width:100%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
                <div>
                  <label class="item item-input InputStyle">
                  	<input type="text" placeholder="{{'login_username' | translate}} " class="licenseInput" ng-model="login.username">
                  </label>
                  <label class="item item-input InputStyle">
                  	<input type="password" placeholder="{{'login_password' | translate}}" class="licenseInput" ng-model="login.password">
                  </label>
                </div>
            </div>
            <!-- Login \ Registe Buttons -->
            <div>
                <div href="#/app/main" ng-click="LoginBtn()">
                    <img ng-src="{{LoginImage}}" style="width:100%; margin-top:10px;" />
                </div>
				
                

                <div ng-click="RegisterBtn()">
                	<img ng-src="{{RegisterImage}}" style="width:100%; margin-top:10px;" />
                </div>
				
				<!--
                <div ng-click="FaceBookLoginBtn()">
                	<img src="img/facebook.png" style="width:100%; margin-top:10px;" />
                </div>
                -->
				
                <div   ng-click="forgotpassBtn()">
					<p style="color:#fff;">{{'login_forgot' | translate}} </p>
				<!--
                    <img src="img/b_forgot.jpg" style="width:100%; margin-top:10px;" />
				-->
                </div>
	<!--		
	<div align="center" style="background-color:#fff;">
	<div  style="display:inline;">אנגלית | </div>
	<div  style="display:inline;">עברית</div>
	</div>
	-->
	
                <img src="img/tapper.png" style="width:100%; margin-top:90px;" />
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
