

<ion-view title="<p class='title-image'>{{'gearscheck_title' | translate}}</p>"  hide-nav-bar="false" hide-back-button="true">


        <ion-nav-buttons side="left" class="button-clear" >
		    <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>        
   


	<div class="bar bar-footer" style="background:transparent; height:9%;  width:100%; padding:0;" >
		 <div class="CameraLicense" style="width:100%;">
			<img src="{{GearsCheckImage2}}"  class="LicenseImage" ng-click="SaveGearBtn()"/>
		 </div>
	</div>
	

  <ion-content class="BackgroundImage" >
  
  

    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="margin-top:20px;">

            <!-- Input Text -->
            <div class="loginForm">
                <div>
					<label class="item item-input item-select ComboLeftStyle" >
                        <!--  <span ng-if="fields.geartype == ''"> {{'gears_choose_type_text' | translate}}</span>-->
                         <select ng-model="fields.geartype" class="ComboStyle" style="" >
                         <option value="1" >{{'gearscheck_balance' | translate}}</option>
                         <option value="2" >{{'gearscheck_breating' | translate}}</option>
                         <option value="3" >{{'gearscheck_tank' | translate}}</option>
                         </select>
                     </label>
                     <label class="item item-input InputStyle">
                         <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')" placeholder="{{'gearscheck_date' | translate}}" class="licenseInput" ng-model="fields.geardate" >
                     </label>

                     <textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="{{'gearscheck_remarks' | translate}}"  ng-model="fields.remarks"> </textarea>
                 </div>

                 <label class="" ng-click="ShowImageModal()" ng-show="uploadedimage" style="margin-top:20px;">
                             <img  ng-src="{{uploadedimage}}" class="" align="center" style="height:150px; margin-top:20px;">
                 </label>

                 <label class="CameraLicense" ng-click="CameraOption()" >
                             <img  ng-src="{{GearsCheckImage1}}" class="LicenseImage" align="center">
                 </label>

             </div>
         </div>
       </div>





     </div>

           <script id="image-modal.html" type="text/ng-template">
                     <div style="width:100%;" align="center">
                         <div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
                             <ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
                                 <img ng-src="{{gearsmodelimage}}" style="width:100%;">
                             </ion-scroll>
                         </div>
                     </div>
           </script>


   </ion-content>




  </ion-view>
