<!--
ng-submit="doLogin()"
-->
<ion-modal-view>
  <ion-header-bar>
 
    <h1 class="title" style="color:#fff; font-weight:bold;">{{'terms_viewterms' | translate}} </h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="closeTerms()">{{'clubsmain_close' | translate}} </button>
    </div>
  </ion-header-bar>
  <ion-content class="BackgroundImage">
  
  <div class="MainDiv" align="center" >
    <div class="Inside_MainDiv" >
	<div class="logoDiv" style="margin-top:20px;">
                <img src="img/logo.png" style="width:70%" />
    </div>
   
	<div  >


      <div style="text-align:left; color:white; font-size:16px; direction:ltr;" ng-bind-html="AboutArray[0].terms_text_en"> 
      </div>

	  
	</div>
	</div>
	
  </div>
   
   
   
   
  </ion-content>
  
</ion-modal-view>
