<div style="padding: 0 15px;margin-bottom: 50px;">
    <h2 class="filterproduct-title"><span class="content">Featured Items</span></h2>
    <div id="featured_product">
        {{block class="Smartwave\Filterproducts\Block\Home\FeaturedList" name="featured_product" product_count="10" aspect_ratio="1" image_width="212" template="owl_list.phtml"}}
    </div>
    <script type="text/javascript">
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
            $("#featured_product .owl-carousel").owlCarousel({
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                loop: true,
                navRewind: true,
                margin: 10,
                nav: false,
                navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
                dots: true,
                responsive: {
                    0: {
                        items:2
                    },
                    768: {
                        items:3
                    },
                    992: {
                        items:4
                    },
                    1200: {
                        items:6
                    }
                }
            });
        });
    </script>
</div>
<div id="home-content-slider-demo-20" class="owl-carousel owl-bottom-narrow owl-banner-carousel">
    <div class="item" style="position:relative;">
        <img src="{{media url="wysiwyg/1204-P3-XCAT-YA-Gifting-dt.jpg"}}" alt=""  style="width:100%"/>
    </div>
    <div class="item" style="position:relative;">
        <img src="{{media url="wysiwyg/1204-P3-XCAT-YA-Gifting-dt.jpg"}}" alt=""  style="width:100%"/>
    </div>

</div>
<script type="text/javascript">
    require([
        'jquery',
        'owl.carousel/owl.carousel.min'
    ], function ($) {
        var owl_20 = $("#home-content-slider-demo-20").owlCarousel({
            items: 1,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            dots: true,
            navRewind: true,
            animateIn: 'fadeIn',
            animateOut: 'fadeOut',
            loop: true,
            nav: false,
            navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"]
        });
    });
</script>
{{block class="Smartwave\Porto\Block\Template" aspect_ratio="1" image_width="275" template="ajaxproducts/ajaxproducts.phtml"}}
<div class="full-width-image" style="background:url({{media url="wysiwyg/1016-XCAT-PWH-Women-STYLEGUIDE.jpg"}}) center no-repeat;background-size: cover;">

</div>
<style type="text/css">
    @media (min-width: 768px) {
        #featured_product {
            padding: 0 85px;
        }
    }
    h2.filterproduct-title {
        background: none;
        font-size: 22px;
        font-family: 'Oswald';
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05em;
        text-align: center;
        color: #282d3b;
        margin-top: 100px;
        margin-bottom: 30px;

    }
    .filterproduct-title .content {
        padding: 0;
        background-color: transparent;
    }
    body.layout-fullwidth.cms-index-index .page-main {
        padding: 0;
    }
    .columns .column.main {
        padding: 0;
    }
    .owl-theme .owl-controls {
        margin: 0;
    }
    #home-content-slider-demo-20 .item > div.content > h3 {
        font-family: 'Oswald';
        color: #fff;
        font-size: 40px;
        line-height: 88px;
        font-weight: 400;
        letter-spacing: 0.025em;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    #home-content-slider-demo-20 .item > div.content > a {
        box-shadow: none;
        font-family: 'Oswald';
        font-size:12px;
        font-weight:700;
        letter-spacing: 0.2em;
    }
    #home-content-slider-demo-20.owl-theme .owl-dots .owl-dot span {
        background: transparent;
        border: 2px solid #fff;
    }
    #home-content-slider-demo-20.owl-theme .owl-dots .owl-dot.active span, #home-content-slider-demo-20 .owl-theme .owl-dots .owl-dot:hover span {
        background: #fff;
    }
    #home-content-slider-demo-20.owl-bottom-narrow .owl-controls {
        bottom: 50px;
    }
    .product-item-photo {
        padding: 0;
        border: 0;
    }
    .ajax-products .product.actions {display:none;}
    .ajax-products .product-item .product-reviews-summary {
        display: none;
    }
    @media (max-width: 767px) {
        #home-content-slider-demo-20.owl-bottom-narrow .owl-controls {
            bottom: 5px;
        }
    }
</style>