<ion-view view-title="{{diaryTitle}}" hide-nav-bar="false" hide-back-button="true">

        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>   
		
		
	<div class="bar bar-footer" style="height:14%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="background-color:#5FBBAF; margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
          <a class="tab-item" ng-click="SaveBtn(0)" >
            <img src="{{AddDiaryImage1}}" width="100%;" style="pading-bottom:30px;"/>
          </a>
           <a class="tab-item" ng-click="SaveBtn(2)" ng-show="!editdisabled">
            <img src="{{AddDiaryImage2}}" width="100%"/>
          </a>
           <a class="tab-item" ng-click="SaveBtn(1)" ng-show="!editdisabled">
            <img src="{{AddDiaryImage3}}" width="100%"/>
          </a>
		  
		  <a class="tab-item"  ng-show="editdisabled"> </a>
            <a class="tab-item"  ng-show="editdisabled"> </a>

		  
          <a class="tab-item" ng-click="OpenCamera(1)">
            <img src="{{AddDiaryImage4}}" width="100%" />
          </a>
        </div>
	</div>
    
    <ion-content class="BackgroundImage1">
	


				  
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="margin-top:20px;">
       		<div class="logoDiv">
                <img src="img/logo_text.png" style="width:70%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
                <div>
				
				
				<!--
                  <label class="item item-input">
                    <input type="text" placeholder="שם המועדון" class="licenseInput" ng-model="diary.clubname">
                    <i class="icon iIcon" >
                        <img src="img/license/user_icon.jpg" class="licenseIcon"  />
                    </i>
                  </label>
				-->
                  <p class="inputLabel">{{'adddiary_divenumber' | translate}}  </p>
				  <label class="item item-input InputStyle" >
					<input type="text"  placeholder="" class="licenseInput" ng-model="diarynumber" ng-readonly="true">
			       </label>
				 <p class="inputLabel">{{'adddiary_clubname' | translate}} </p>  
				<label class="item item-input item-select ComboLeftStyle" >
					  {{'adddiary_clubname' | translate}} 
					<select ng-model="diary.clubname" class="ComboStyle" style="" ng-disabled="editdisabled">
					<option value="0" >{{'other_club' | translate}}</option>
					
				  <optgroup ng-repeat="item in ClubsCountriesArray" ng-if="UserCountryCode == item.value" label="{{item.text}}">
					<option value="{{clubdata.index}}" ng-repeat="clubdata in item.clubs_array">{{clubdata.name}}</option>
				  </optgroup>

  
				  <optgroup ng-repeat="item in ClubsCountriesArray" ng-if="UserCountryCode != item.value" label="{{item.text}}">
					<option value="{{clubdata.index}}" ng-repeat="clubdata in item.clubs_array">{{clubdata.name}} </option>
				  </optgroup>					
					
					</select>
				</label>

					<p class="inputLabel" ng-if="isIdRequired()">{{'IDnumber' | translate}}  </p>
					<label class="item item-input InputStyle" ng-if="isIdRequired()">
						<input type="number"  placeholder="" ng-model="diary.personalid" class="licenseInput" ng-readonly="false">
					</label>

                  <p class="inputLabel">{{'adddiary_divedate' | translate}} </p>  
				  <label class="item item-input InputStyle" >
				  <!--
				  min="{{maxDate}}" max="{{maxDate}}"
				  -->
					<input type="text" onClick="(this.type='date')" onfocus="(this.type='date')"  placeholder="תאריך צלילה"  class="licenseInput" ng-model="diary.divedate" ng-readonly="editdisabled">
			       </label>


				<p class="inputLabel">{{'adddiary_divetype' | translate}} </p> 
				<label class="item item-input item-select ComboLeftStyle" >
					{{'adddiary_divetype' | translate}}
					<select ng-model="diary.type" class="ComboStyle" ng-disabled="editdisabled">
					  <option value="ריענון" >{{'adddiary_refresh' | translate}} </option>
					  <option value="מודרך" >{{'adddiary_guided' | translate}}  </option>
					  <option value="קורס" >{{'adddiary_course' | translate}} </option>
					  <option value="עצמאית" >{{'adddiary_free' | translate}} </option>
					</select>
				</label>		

				<p class="inputLabel">{{'adddiary_country' | translate}} </p>  				
				<label class="item item-input item-select ComboLeftStyle" >
					{{'adddiary_country' | translate}} 
					<select ng-model="diary.country" class="ComboStyle" ng-disabled="editdisabled">
						<!-- <option value="">{{'adddiary_country' | translate}}</option> -->
						<option value="IL" selected="selected">{{'countries_IL' | translate}} </option>
						<option value="{{key}}" ng-selected="{{diary.country == key}}" ng-repeat="(key, value) in languagesJson" >{{value}}</option>
					<!--
						<option value="IL" selected="selected">{{'countries_IL' | translate}} </option>
						<option value="EG">{{'countries_EG' | translate}} </option>
						<option value="PW">{{'countries_PW' | translate}} </option>
						<option value="PH">{{'countries_PH' | translate}} </option>
						<option value="JO">{{'countries_JO' | translate}}  </option>
						<option value="ZA">{{'countries_ZA' | translate}} </option>
						<option value="MV">{{'countries_MV' | translate}} </option>
						<option value="EC">{{'countries_EC' | translate}} </option>
						<option value="CC">{{'countries_CC' | translate}} </option>
						<option value="FM">{{'countries_FM' | translate}} </option>
						<option value="HI">{{'countries_HI' | translate}} </option>
						<option value="TH">{{'countries_TH' | translate}} </option>
						<option value="MY">{{'countries_MY' | translate}}  </option>
						<option value="CR">{{'countries_CR' | translate}}  </option>
						<option value="AU">{{'countries_AU' | translate}} </option>
						<option value="NZ">{{'countries_NZ' | translate}}</option>
						<option value="GY">{{'countries_GY' | translate}} </option>
						<option value="BZ">{{'countries_BZ' | translate}}  </option>
						<option value="MT">{{'countries_MT' | translate}}  </option>
						<option value="GR">{{'countries_GR' | translate}}  </option>
						<option value="US">{{'countries_US' | translate}} </option>
					-->
					</select>
				</label>	

				
                   <p class="inputLabel">{{'adddiary_depth' | translate}} </p>  
                  <label class="item item-input InputStyle" >
                    <input type="number" placeholder="" class="licenseInput" ng-model="diary.depth" ng-readonly="editdisabled">
                  </label>
                   <p class="inputLabel">{{'adddiary_bottomtime' | translate}} </p>  
                  <label class="item item-input InputStyle">
                    <input type="number" placeholder="" class="licenseInput" ng-model="diary.bottom_time" ng-readonly="editdisabled">
                  </label>
                   <p class="inputLabel">{{'adddiary_divesite' | translate}} </p>  
                   <label class="item item-input InputStyle">
                    <input type="text" placeholder="" class="licenseInput" ng-model="diary.site" ng-readonly="editdisabled">
                  </label>  


                   <p class="inputLabel">{{'adddiary_weights' | translate}} </p>  
                   <label class="item item-input InputStyle">
                    <input type="text" placeholder="" class="licenseInput" ng-model="diary.weights" ng-readonly="editdisabled">
                  </label> 
				  

					
				<!--
				 <label class="item item-input item-select ComboLeftStyle" >
					  משקולות
					<select ng-model="diary.weights" class="ComboStyle" ng-disabled="editdisabled">
					  <option value="1" >1</option>
					  <option value="2" >2</option>
					  <option value="3" >3</option>
					  <option value="4" >4</option>
					  <option value="6" >6</option>
					  <option value="8" >8</option>
					  <option value="10" >10</option>
					</select>
				</label>
				-->
				<p class="inputLabel">{{'adddiary_steel' | translate}} </p> 
				<label class="item item-input item-select ComboLeftStyle" >
					{{'adddiary_steel' | translate}} 
					<select ng-model="diary.steel" class="ComboStyle" ng-disabled="editdisabled">
					<option value=""></option>
					  <option value="6" >6</option>
					  <option value="8" >8</option>
					  <option value="10" >10</option>
					  <option value="12" >12</option>
					  <option value="15" >15</option>
					  <option value="18" >18</option>
					</select>
				</label>
				
                <p class="inputLabel">{{'adddiary_almuniuim' | translate}} </p> 
				<label class="item item-input item-select ComboLeftStyle" >
					{{'adddiary_almuniuim' | translate}} 
					<select ng-model="diary.aluminum" class="ComboStyle" ng-disabled="editdisabled">
					<option value="" ></option>
					  <option value="0.9" >0.9</option>
					  <option value="1.9" >1.9</option>
					  <option value="2.8" >2.8</option>
						<option value="2.9" >2.9</option>
						<option value="4.3" >4.3</option>
						<option value="5.7" >5.7</option>
						<option value="6.9" >6.9 (7)</option>
						<option value="9.0" >9.0 (10)</option>
						<option value="11.1" >11.1 (12)</option>
						<option value="10.3" >10.3</option>
						<option value="13.2" >13.2</option>
					</select>
				</label>				

<!--				
                <p class="inputLabel">חליפה</p>
                  <label class="item item-input InputStyle">
                    <input type="text" placeholder="חליפה" class="licenseInput" ng-model="diary.suit" ng-readonly="editdisabled">
                  </label> 
-->
				<p class="inputLabel">{{'adddiary_suit' | translate}} </p> 
				<label class="item item-input item-select ComboLeftStyle" >
					{{'adddiary_suit' | translate}}
					<select ng-model="diary.suit" class="ComboStyle" ng-disabled="editdisabled">
					  <option value="חליפה קצרה" >{{'adddiary_shortsuit' | translate}} </option>
					  <option value="חליפה ארוכה" >{{'adddiary_longsuit' | translate}} </option>
					  <option value="חליפת 2 חלקים" >{{'adddiary_twosuit' | translate}} </option>
					</select>
				</label>	

				  <p class="inputLabel" style="direction:rtl">{{'adddiary_airtankstart' | translate}} </p>
                  <label class="item item-input InputStyle">
                    <input type="number" placeholder="" class="licenseInput" ng-model="diary.air_start" ng-readonly="editdisabled">
                  </label> 
				  
                  <p class="inputLabel" style="direction:rtl">{{'adddiary_airtankfinsh' | translate}} </p>
                  <label class="item item-input InputStyle">
                    <input type="number" placeholder="" class="licenseInput" ng-model="diary.air_finsh" ng-readonly="editdisabled">
                  </label> 

                  <p class="inputLabel">{{'adddiary_totaltime' | translate}} </p>
                  <label class="item item-input InputStyle">
                    <input type="number" placeholder="" class="licenseInput" ng-model="diary.total_time" ng-readonly="editdisabled">
                  </label> 

				  
                  <p class="inputLabel">{{'adddiary_partner' | translate}} </p>
                  <label class="item item-input InputStyle">
                    <input type="text" placeholder="" class="licenseInput" ng-model="diary.partner" ng-readonly="editdisabled">
                  </label> 
					
                  <p class="inputLabel">{{'adddiary_coucher' | translate}} </p>
                  <label class="item item-input InputStyle">
                    <input type="text" placeholder="" class="licenseInput" ng-model="diary.coucher" ng-readonly="editdisabled">
                  </label>   



				  
                    <p class="inputLabel">{{'adddiary_freetext' | translate}} </p>
					

				  
				  
				  <textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="" ng-model="diary.freetext"> </textarea>

				  
				<!--
                

					<input type="text" placeholder="" style="height:200px;" class="licenseInput" ng-model="diary.freetext" ng-readonly="editdisabled">
-->				
				  
         
				<p class="inputLabel">{{'adddiary_optionaloldcamera' | translate}} </p>
                  <label class="" ng-click="ShowImageModal(1)" style="margin-top:20px;">
                            <img  ng-src="{{uploadedimage}}" class="" align="center" style="height:150px; margin-top:20px">
                  </label>

				  
                <!--  <label class="CameraLicense"   ng-click="OpenCamera(1)" ng-show="!editdisabled">
							<img  ng-src="img/picture.jpg" class="LicenseImage" align="center">
				  </label> -->
				  


                 <!-- <p class="inputLabel">צלם תמונה שניה</p>
				  
	                  <label class="" ng-click="ShowImageModal(2)">
                            <img  ng-src="{{uploadedimage2}}" class="" align="center" style="height:150px;">
                  </label>
				  
                  <label class="CameraLicense"   ng-click="OpenCamera(2)" ng-show="!editdisabled">
							<img  ng-src="img/picture.jpg" class="LicenseImage" align="center">
				  </label> -->
                </div>
            </div>
            <div style="margin-top:55px; padding-bottom:130px;" class="graph">
                    <img src="img/diary/graph.png" style="width:100%; margin-top:0px;" />
                    <p id="graphP1">{{diary.depth}}</p>
                    <p id="graphP2">{{diary.bottom_time}}</p>
            </div>
			
			
            <!-- Login \ Registe Buttons 
            <div style="margin-top:35px" ng-click="SaveBtn()" ng-show="!editdisabled">
                    <img src="img/diary/save.png" style="width:100%; margin-top:30px;" />
            </div>
             <div style="margin-top:5px; padding-bottom:10px;" ng-click="SaveBtn()" ng-show="!editdisabled">
                    <img src="img/diary/send.png" style="width:100%; margin-top:0px;" />
            </div>

             <div style="margin-top:0px; padding-bottom:10px;" ng-click="SaveBtn(1)" ng-show="!editdisabled">
                    <img src="img/b_pass.jpg" style="width:100%; margin-top:0px;" />
            </div>-->
			
         </div>
    </div>
	
	


          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{diaryImageModal}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>
		  
		  
  </ion-content>
  


  
<!--


  <ion-content>
   
	<div align="center">
	

	<div class="list" style="direction:rtl;">
			<label class="item item-input">
			  <span class="input-label">שם המועדון</span>
			  <input type="text" placeholder="" ng-model="diary.clubname">
			</label>
			<label class="item item-input">
			  <span class="input-label">עומק</span>
			  <input type="text" placeholder="" ng-model="diary.depth">
			</label>
			<label class="item item-input">
			  <span class="input-label">זמן</span>
			  <input type="text" placeholder="" ng-model="diary.time">
			</label>			
		  </div>

		  
		<div class="padding">
				<button class="button button-block button-positive" ng-click="SaveBtn()">שמור</button>
				<button class="button button-block button-calm" ng-click="SaveBtn()">שלח למועדון הצלילה</button>

		</div>	

		
	
	</div>
   

   
  </ion-content>-->
</ion-view>
