<div class="bar bar-subheader" style="background-color:#white;" >
  	

      <div class="item-input-inset" style="margin-top:-20px; background-color:#666;  margin:0px; width:105%; margin-left:-2%; padding-top:5px; padding-bottom:5px;">
        <label  class="item-input-wrapper" style="text-align:right; direction:rtl; background-color: #999;">
          <input type="text" ng-model="clubsearch" ng-change="scrollUp()" style="text-align:right; color:white; direction:rtl" placeholder="{{'clubsmain_search' | translate}}">
        </label>

</div>


		<!--
		<div align="center">
			<select ng-model="params.selectedcountry">
				<option ng-repeat="item in CountryClubsArray" value="{{item.country_index}}">{{item.title}}</option>
			 </select>
		</div>
		-->
		
</div>



<ion-view  hide-nav-bar="false" hide-back-button="true" cache-view="false">



		

<ion-nav-bar  align-title="center">
    <ion-nav-back-button >
        <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
    </ion-nav-back-button>
    <ion-nav-title>
       <p class='title-image' style="color:#fff;">{{'clubsmain_title' | translate}}</p>
    </ion-nav-title>
	<ion-nav-buttons side="right">
	<div style="color:white;">
		<div style=" margin:9px 5px 0 0; "  align="center" ng-click="languageSelect()">
			<div ng-repeat="item in CountryClubsArray" ng-if="params.selectedcountry == item.value"><img src="{{phpHost+item.image}}" style="border: 0.5px solid white; height:30px;"></div>
			{{item.value}}
		</div>	
	</div>
	</ion-nav-buttons>
</ion-nav-bar>


		
 <ion-content class="BackgroundImage1" style="margin-top:30px; ">
 
    <div class="MainDiv" align="center" style="margin-top:30px">
        <div  ng-repeat="item in clubs | filter:clubsearch" ng-if="item.country_code == params.selectedcountry" id="LicenseRepeat" >
		
                <div>
                    <div class="LicenseRows_text" style="width:70%;">
                        <h3 ui-sref="app.clubs_details({IndexId: $index,ClubId: item.id})"> {{item.name}} </h3>
                        <h4 ui-sref="app.clubs_details({IndexId: $index,ClubId: item.id})"> {{item.address}} </h4>
                        <div  style="width:100%;" > 
                             <img class="ClubButton_img" src="{{ClubsImage1}}" style="width:49%;" ng-click="SendDetailsBtn(item.id)"  /> 
							 <img class="ClubButton_img" src="{{ClubsImage2}}" style="width:49%;" ng-click="SendClubMessage(item.id,item.name)" /> 								 
						</div>
					
                    </div>
                    <div class="LicenseRows_image" style="width:30%;" align="left" ui-sref="app.clubs_details({IndexId: $index,ClubId: item.id})">
                    	<div style="width:30%;">
                       	 	<img ng-if="item.image" class="LicenseRows_img_circle" src="{{ImgHost}}/{{item.image}}" />
                        </div>
                    </div>
                    <img src="img/license/line.png" class="licenseLine" />
                </div>
        </div>
        
       
        
    </div>   
  </ion-content>
  
  
 	<ion-footer-bar align-title="right" style="height:90px;  padding: 0px; margin: 0px; ">
	<div align="center" style="width:100% !important;" >
	
	
	<div style="">
		<img src="{{phpHost}}/{{RandomBannerImage}}" style="width:100%; height:90px;">
	</div>	
	

	</div>
	</ion-footer-bar>    
  
  
</ion-view>





	

    	