<ion-view title="<p class='title-image'>{{'contact_title' | translate}}</p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">


        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>   
		
		

	<ion-content class="BackgroundImage" scroll="true">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
       		<div class="logoDiv">
                <img src="img/logo.png" style="width:100%" />
            </div>
            <!-- Input Text -->

            <div class="loginForm">
			<div ng-style="contactStyle" >
			
			<p class="contactText" style="display:inline;">{{'contact_welcometext1' | translate}}</p>
			<p style="font-weight:bold; color:#fff;  ">I LOVE DIVE</p>
			{{'contact_welcometext2' | translate}} ,<br>
			{{'contact_welcometext3' | translate}} <br>
			{{'contact_welcometext4' | translate}} .<p>
			<p style="color:#fff; font-weight:bold;">{{'contact_welcometext5' | translate}} .</p>
			</div>
                <div>
                  <label class="item item-input InputStyle">
                    <input type="text" placeholder="{{'contact_fullname' | translate}}" class="licenseInput" ng-model="contact.name">
                  </label>
                  <label class="item item-input InputStyle">
                    <input type="tel" placeholder="{{'contact_phone' | translate}}" class="licenseInput" ng-model="contact.phone">
                  </label>
                  <label class="item item-input InputStyle">
                    <input type="text" placeholder="{{'contact_email' | translate}}" class="licenseInput" ng-model="contact.email">
                  </label>		

				  <textarea  rows="3" cols="50"  class="InputStyleTextarea"  placeholder="{{'contact_desc' | translate}}"  ng-model="contact.desc"> </textarea>

<!--				  
                  <label class="item item-input InputStyle">
					<textarea rows="4" cols="50" placeholder="{{'contact_desc' | translate}}" class="InputStyle" style="border:none !important" ng-model="contact.desc"></textarea>				  
                  </label>
-->  
                </div>
            </div>
            <!-- Login \ Registe Buttons -->
            <div style="margin-top:15px" ng-click="sendContactBtn()">
                    <img src="{{ContactImage1}}" style="width:100%; margin-top:10px;" />
            </div>
   
         </div>
    </div>
	

		  
	
  </ion-content>
  

</ion-view>
