<div class="bar bar-subheader" style="background-color:#2a2a2a;" >
  	<div class="list">

  <div class="item-input-inset" style="margin-top:-24px; background-color:#666;  margin:0px; width:105%; margin-left:-2%; padding-top:5px; padding-bottom:5px;">
    <label class="item-input-wrapper" style="text-align:right; background-color: #999; direction:rtl">
      <input type="text" ng-model="divesearch" style="text-align:right;  color:white; direction:rtl" placeholder="{{'divingdiary_search' | translate}}">
    </label>
  </div>
  
  


</div>
</div>


<ion-view title="<p class='title-image'>{{'divingdiary_title' | translate}}</p>" hide-nav-bar="false" hide-back-button="true" cache-view="false">

        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>   


	 <ion-content class="BackgroundImage1" style="margin-top:30px;">

    <div class="MainDiv" align="center">
    	<a href="#/app/gearscheck">
             <div align="center" style="width:100%; margin-top:30px;">
              	<img src="{{DivingDiaryImage1}}" style="width:70%;">
             </div>
		</a>
        
    	<div class="Inside_MainDiv" style="width:100%;" ng-click="AddDiaryBtn()">
            <div class="addLicense" style="width:100%;">
                <img src="{{DivingDiaryImage2}}" style="width:70%" />
            </div>
        </div>
       
		<!--
		<div style="overflow:hidden; margin-top:18px; width:100%;" align="center" >
			<div class="button-bar" style="width:100%; margin-top:5px; margin-left:0px; ">
			  <a class="button" ng-click="sortArray(2)">מאושרים</a>
			  <a class="button" ng-click="sortArray(1)">לא מאושרים</a>
			</div>
		</div>		
		
		| filter:filterDives():true 
        <div  ng-repeat="row in licenses | filter:divesearch" id="LicenseRepeat" ng-if="row.status == approved">
		-->
        
        <div  ng-repeat="row in licenses | filter:divesearch" id="LicenseRepeat" >
        	<a href="#/app/adddiary/{{row.id}}/{{$index}}">
                <div>
                    <div class="LicenseRows_text">
                        <h3> {{row.clubname}}</h3>
						<h3 ng-if="row.club_index == 0"> {{'other_club' | translate}}</h3>
                        <h4> {{row.divedate}} </h4>
						<h4 ng-if="row.status == 1">{{row.clubname}}</h4> <!-- {{'divingdiary_approvedby' | translate}}  -->
                    </div>
                    <div class="LicenseRows_image ">
                        <img class="LicenseRows_img" src="{{row | showImage}}"  style="width: 100%" />
                    </div>
                    
                    <img src="img/license/line.png" class="licenseLine" />
                </div>
            </a>
        </div>
    </div>
  </ion-content>
  
 	<ion-footer-bar align-title="right" style="height:90px;  padding: 0px; margin: 0px; ">
	<div align="center" style="width:100% !important;" >
	
	
	<div style="">
		<img src="{{phpHost}}/{{RandomBannerImage}}" style="width:100%; height:90px;">
	</div>	
	

	</div>
	</ion-footer-bar>   

</ion-view>




