<ion-view title="<p class='title-image'>{{'gearscheck_title' | translate}}</p>" cache-view="false" hide-nav-bar="false" hide-back-button="true">

        <ion-nav-buttons side="left" class="button-clear" >
		<button class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()"></button>
        </ion-nav-buttons>   


	 <ion-content class="BackgroundImage1" >
	 

	<!--
	<button class="button button-block button-positive"   ui-sref="app.gears_primary()">
	  ציוד תקופתי ראשי
	</button>	
	-->
	<div align="center" style="margin-top:5px;">
	<button class="button  button-clear" style="background-color:#1C9F8D; color:#fff;"  ui-sref="app.manage_gears({ItemId: -1})">
	  {{'addnewgearstext' | translate}}
	</button>	 
	</div>
	 
      
    <div class="MainDiv" align="center">

		<div class="tabsDiv">
			<div ng-class="{'tabsActive33': ActiveTab == 1 , 'tabsNotActive33': ActiveTab != 1 }" ng-click="setActiveTab(1)">
				{{'gearscheck_balance' | translate}}
			</div>
			<div  ng-class="{'tabsActive33': ActiveTab == 2 , 'tabsNotActive33': ActiveTab !=  2 }"  ng-click="setActiveTab(2)">
				{{'gearscheck_breating' | translate}}
			</div>
			<div  ng-class="{'tabsActive33': ActiveTab == 3 , 'tabsNotActive33': ActiveTab != 3 }"  ng-click="setActiveTab(3)">
				{{'gearscheck_tank' | translate}}
			</div>
		</div>
        
        <div  ng-repeat="row in UserGearArray " id="LicenseRepeat" ng-if="row.geartype == ActiveTab">

                <div class="LicenseRows">
                    <div class="LicenseRows_image " align="center">
                        <div style="width: 80%">
                         <img class="LicenseRows_img" ng-if="!row.image" src="img/logo.png"  style="width: 100%" />
                         <img class="LicenseRows_img" ng-if="row.image" src="{{phpHost}}/{{row.image}}" style="width: 100%" />
                        </div>
                    </div>

                    <div class="LicenseRows_text">
                        <a href="#/app/manage_gears/{{$index}}">
                            <h3 ng-if="row.geartype == 1">{{'gearscheck_balance' | translate}}</h3>
                            <h3 ng-if="row.geartype == 2">{{'gearscheck_breating' | translate}}</h3>
                            <h3 ng-if="row.geartype == 3">{{'gearscheck_tank' | translate}} </h3>
                            <h4> {{row.geardate}} </h4>
                        </a>
                    </div>

                    

				<div style="float:right;  position:relative; z-index:1; " ng-click="deleteGear($index,row.gearid)" ng-if="loggedInUser == item.user_id">
					<i class="ion-trash-a" style="color:#fff; font-size:40px;"></i>
				</div>

                    <img src="img/license/line.png" class="licenseLine" />
                </div>
            
        </div>
    </div>

			
			
  </ion-content>
  
	<ion-footer-bar align-title="right" style="height:90px;  padding: 0px; margin: 0px; ">
	<div align="center" style="width:100% !important;" >
	
	
	<div style="">
		<img src="{{phpHost}}/{{RandomBannerImage}}" style="width:100%; height:90px;">
	</div>	
	

	</div>
	</ion-footer-bar>

	

</ion-view>




