<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar align-title="center" class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
       <button class="button button-icon button-clear ion-navicon" 
            menu-toggle="left">
       </button>
      </ion-nav-buttons>
    </ion-nav-bar>
   

   
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
	
	<!--
	expose-aside-when="large"
	-->
  <ion-side-menu side="left" class="main-menu" >
    <ion-content>

		
		
      <ion-list>
        <ion-item class="heading-item item item-avatar " nav-clear menu-close ui-sref="app.main">
           <h2 class="greeting">I LOVE DIVE</h2>
          <p class="message">{{"menu_welcome" | translate}}</p>
          <div class="user-image-container ">
            <pre-img ratio="_1_1" helper-class="rounded-image">
             <img class="user-image" ng-src="img/icon.png" spinner-on-load> 
          	</pre-img>
          </div>
         
        </ion-item>
		
		
		  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.main">
		  
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/1.png" ></i>
          
          <h2 class="menu-text" style="text-align:right">{{"menu_main" | translate}} </h2>
        </ion-item>
		<!--
		ng-click="NavigateUrl('insurance')"

		<ion-item class="item-icon-right" nav-clear menu-close  ui-sref="app.insurance" >
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/2.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_insurance" | translate}} </h2>
        </ion-item>-->
		
		<ion-item class="item-icon-right" nav-clear menu-close href="#/app/divinglicense" ng-click="NavigateUrl('divinglicense')"   >
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/3.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_divinglicense" | translate}} </h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close  href="#/app/divingdiary" ng-click="NavigateUrl('divingdiary')"   >
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/4.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_divingdiary" | translate}} </h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close  href="#/app/clubs" ng-click="NavigateUrl('clubs')"   >
		  <i class="icon"><img style="width:40px; height:40px;" src="img/sidemenu/new/5.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_clubs" | translate}} </h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close  href="#/app/gearscheck" ng-click="NavigateUrl('gearscheck')"  >
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/6.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_gearscheck" | translate}} </h2>
        </ion-item>
		
        <ion-item class="item-icon-right" nav-clear menu-close  href="#/app/updateinfo" ng-click="NavigateUrl('updateinfo')"  >
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/7.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_personalinfo" | translate}} </h2>
        </ion-item>
		
        <ion-item  class="item-icon-right" nav-clear menu-close  href="#/app/coupons" ng-click="NavigateUrl('coupons')"  >
		  <i class="icon"><img  style="width:30px; height:30px;" src="img/sidemenu/10.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_coupons" | translate}}</h2>
        </ion-item>
				
        <ion-item class="item-icon-right" nav-clear menu-close  href="#/app/messages" ng-click="NavigateUrl('messages')"   >
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/10.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"pushmessagestext" | translate}} </h2>
        </ion-item>			
		
        <ion-item class="item-icon-right" nav-clear menu-close  href="#/app/contact" ng-click="NavigateUrl('contact')"   >
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/8.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_contact" | translate}} </h2>
        </ion-item>	

        <ion-item class="item-icon-right" nav-clear menu-close  style="background-color:#23262A;" ng-click="LogOut()">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/9.png" ></i>
          <h2 class="menu-text" style="text-align:right">{{"menu_logout" | translate}} </h2>
        </ion-item>	
		
		
		
         <ion-item class="item-icon-right" nav-clear menu-close href="http://www.tapper.co.il" >
          <img width="118"  height="49" style="float:right; right:30px; position:relative" src="img/main/tapperwhite.png" alt="" >
          <h2 class="menu-text" style="font-size:12px;"></h2>
        </ion-item>			

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
