/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body
{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	background-color:black;
	background-repeat:no-repeat;
	font-family: "Alef Hebrew","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-image:url('../img/main/bck.jpg');
	background-size:100% 100%;
}
p {
	margin:0;
}

a {
  color:inherit;
  text-decoration: none;
 }
 
 #AboutDv
{
	position:fixed;
	width:17%;
	height:57px;
	min-height:50px;
	/*background-color:#d5ab45;*/
	overflow:hidden;
	right:0;
}
#infoBtn {
	width:50%;
	padding-left:22px;
	padding-top:8px;
	
}


#HeaderDv
{
	position:fixed;
	width:100%;
	height:8%;
	min-height:50px;
	background-color:#d5ab45;
	overflow:hidden
}

#backBtn
{
	float:right;
	width:8%;
	padding:10px;
	margin-top:-6px;
	height:100%;
}


#homeBtn
{
	float:left;
	width:10%;
	padding:10px;
	margin-top:-2px;
	height:100%;
}


.Input
{
	width:70%;
	padding-bottom:2%;
	margin-top:2%;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100%;
}


.InputText
{
	width:100%;
	font-size:6vw;
	padding:3%;
	padding-top:0%;
	color:white;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}


/*  New User Page*/

#newUserMain
{
	margin-top:0%;
	height:100%;
	width:100%;
	color:black;
	/*
	background-image:url('../img/main/bck.jpg');
	background-size:100% 100%;
	*/
	position:relative;
}

#codeText
{
	width:70%;
	padding-bottom:3%;
	color:black;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/code.png');
	background-size:100%;
}

#codeInput
{
	width:100%;
	font-size:6vw;
	padding:3%;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}

#codeNameInput
{
	width:100%;
	font-size:6vw;
	padding:3%;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
	border:0;
}

#phoneText
{
	width:70%;
	padding-bottom:3%;
	color:black;
	/* margin-bottom:17%; */
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100%;
}

#phoneInput
{
	width:100%;
	font-size:6vw;
	padding:3%;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}


#nameText
{
	width:70%;
	padding-bottom:3%;
	/* margin-bottom:17%; */
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100%;
}

#nameInput
{
	width:100%;
	font-size:6vw;
	padding:3%;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}


#mailText
{
	width:70%;
	padding-bottom:3%;
	/* margin-bottom:17%; */
	background-repeat:no-repeat;
	background-image:url('../img/new_user/phone.png');
	background-size:100%;
}


#mailInput
{
	width:100%;
	font-size:6vw;
	padding:3%;
	color:black;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}

#foundcodetext {
	margin:0px;
	padding:0px;
	padding-bottom:10px;
	direction:rtl;
}

#whitetext {
	margin:0px;
	padding:0px;
	color:#000000;
}



/*  Add User Page*/


#addInput
{
	width:70%;
	padding-bottom:10%;
	background-repeat:no-repeat;
	background-image:url('../img/add_user/addInput.png');
	background-size:100%;
}

#addInputdiv
{
	width:70%;
	padding-bottom:5%;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/btns/addcode.png');
	height:36px;
	background-size:100%;
}

#addInputLogout
{
	width:70%;
	padding-bottom:5%;
	background-repeat:no-repeat;
	background-image:url('../img/new_user/btns/logout.png');
	height:36px;
	background-size:100%;
}

#addInputText
{
	width:100%;
	font-size:6vw;
	padding-bottom:1%;
	color:white;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-top:2%;
	margin-left:-8%;
}

#addcontact { 
background-color:#66FF66;
}

#UserInfo
{
	width:100%;
	padding-top:5%;
	padding-bottom:0%;
	position:relative;
}

#UserInfoBck
{
	position:absolute;
	margin-top:0px;
	left:10%;
	width:80%;
	z-index:0;
}


#UserInfoText
{
	z-index:1;
	position:relative;
	width:100%;
	font-size:6vw;
	color:#d5ab45;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-left:-30%;
	margin-top:3px;
}

#UserCodeText
{
	z-index:1;
	position:relative;
	width:100%;
	font-size:6vw;
	color:#000;
	background-color:transparent;
	text-align:right;
	border:hidden;
	margin-left:-30%;
	margin-top:3px;
}























.animClass1.ng-enter,  
.animClass1.ng-leave,  
.animClass1.ng-enter,  
.animClass1.ng-leave 
{
    top: 0; right: 0; bottom: 0; left: 0;  
    background: inherit;  
    -ms-transition: 0.50s ease-in-out;  
    -webkit-transition: 0.50s ease-in-out;  
    transition:  0.50s ease-in-out;  
}  
/*
.animClass1.ng-enter {  
    z-index: 101;  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  
.animClass1.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave {  
    z-index: 100;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  */


.animClass1.ng-enter {  
    z-index: 100;  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  
.animClass1.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave {  
    z-index: 101;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  



/* -------------------------------------------------------------------------------  */

#CodeSelectDv
{
	background-color:#e9e9e9;
	margin-bottom:7px;
	overflow:hidden;
	width:100%;
}


#UserInfoCode
{
	float:right;
	text-align:right;
	margin-right:-20px;
	margin-top:3px;
	direction:rtl;
	padding-right:10px;
}

#UserInfoQR
{
	float:right;
	width:30%;
	padding-bottom:7px;
	position:relative;
	left:15px;
	padding-top:10px;
}

#userLine
{
	float:right;
	width:2px;
	height:0px;
	position:relative;
	left:30px;
	top:-10px;
}


#codeBtns {
	float:left;
	width:30%;
	height:10px;
}

#editCode { 
	margin-top:10%;
	height:17px;
	padding-left:5px;
	margin-bottom:10%;
}

#DeleteCode 
{ 
	height:17px;
	padding-left:5px;
}

#UserInfoImg
{
	width:50%;
}

#qrcode {
	
	text-align:center;
}
#printqr {
	direction:rtl;
	text-align:center;
}

#codetype {
	margin-top:10px;
	width:70%;
	direction:rtl;
	height:30px;
	/*
	background-image: url("../img/add_user/addInput.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 5%;
	*/
}
#showcode {
	font-size:17px;
	font-weight:bold;
}

.custom-popup.popup-container .popup {
  width:90%;
}


.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.popup-title
{
	direction:rtl;
}	

.roundedIcon {
	background-color: #3e454c;
    border-radius: 50%;
    color: #ffffff;
    font-size: 22px;
    height: 32px;
    line-height: 32px;
    width: 32px;
	padding:5px;
	
}

.item.item-input.InputStyle.textArea
{
	height : 200px !important;
}

.footernew  
{
	/*
	background-color:transparent !important;
	*/
}